        .headings {
            background-color:Gray;
            font-style:Georgia;
            color:White;
        }
        .main-heading
        {
            text-align:center;
            background-color:Gray;
            border:2px solid White;
        }
        .images {
             display: block;
             margin-left: auto;
             margin-right: auto;
             width: 30%;
        }
        .video
        {
            float:middle;

        }
        .col{
           column-count: 3;
           column-gap: 40px;
           column-rule-style: solid;
            column-rule-color: Gray;
            text-align: left;
             }
        .List 
             {
          background: White;
          padding: 20px;
             }
        
        .Content
        {
        background: White;
          padding: 20px;
      }
      p{
        text-align: center
    }
